<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>

      <div class="row">
        <button class="button button-block button-light" ng-click="login()">Log In</button>
        <div class="col">
          <!-- This is just a hacky way to put some whitespace between the two buttons. -->
        </div>
        <button class="button button-block button-positive" ng-click="loginFacebook()">Log In with Facebook</button>
      </div>
      Don't have an account?
      <button class="button button-clear button-stable" ng-click="signup()">
        Sign Up
      </button>
  </ion-content>
</ion-view>